<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static '/app/style.css' %}">
    <meta charset="UTF-8">
    <title>Bienvenue</title>
</head>
<body>
    <header>
        <h1>Bienvenue sur votre espace Client n°{{ client.id }}</h1>
    </header>
    
    <main>
        <p>ID Client : {{ client.id }}</p>
        
        <p>
            <a href="/app/{{ client.id }}/create/">
                + Demander l'ouverture d'un compte
            </a>
            <a href="/app/{{ client.id }}/operation/create/">
                Effectuer un Dépôt / Retrait / Virement
            </a>
        </p>
        <h3>Mes Comptes Bancaires</h3>
        <ul>
            {% for compte in comptes %}
                <li>
                    {{ compte.nom }} (N° {{ compte.numero_compte }}) - Solde : {{ compte.solde }} € - Statut : {{ compte.statut}} 
                    {{ compte.statut }}

                    {% if compte.statut == 'ACCEPTE' %}
                        <a href="/app/{{ client.id }}/update/{{ compte.id }}/"> Modifier</a>
                        <a href="/app/{{ client.id }}/delete/{{ compte.id }}/"> Clôturer</a>
                    {% endif %}
                </li>
            {% empty %}
                <li>Aucun compte pour le moment.</li>
            {% endfor %}
        </ul>
        <hr>
        <h3>Historique de mes opérations bancaires</h3>
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Montant</th>
                    <th>Compte Source</th>
                    <th>Compte Destination</th>
                </tr>
            </thead>
            <tbody>
                {% for op in operations %}
                    <tr>
                        <td>{{ op.date_creation|date:"d/m/Y H:i" }}</td>
                        <td>{{ op.get_type_op_display }}</td>
                        <td>
                            {% if op.type_op == 'DEPOT' %}+{% else %}-{% endif %} {{ op.montant }} €
                        </td>
                        <td>{{ op.compte_source.nom }} (N° {{ op.compte_source.numero_compte }})</td>
                        <td>
                            {% if op.compte_destination %}
                                {{ op.compte_destination.nom }} (N° {{ op.compte_destination.numero_compte }})
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td>Aucune opération enregistrée pour le moment.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>

    <aside>
        <p>&copy; 2026 MULLER Yoann et BRODIN Mathias. Tous droits réservés.</p>
    </aside>
</body>
</html>