<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static '/app/style.css' %}">
    <meta charset="UTF-8">
    <title>Bienvenue</title>
</head>
<body>
    <header>
        <h1>Détails du compte n°{{ compte.id }}</h1>
    </header>
    <ul>
        <li>Numéro de compte : {{ compte.numero_compte }}</li>
        <li>Nom du compte : {{ compte.nom }}</li>
        <li>Solde actuel : {{ compte.solde }} €</li>
        <li>Statut de validation : {{ compte.statut }}</li>
    </ul>
    <nav>
        <form method="get" action="/app/{{ compte.client_id }}/">
            <button type="submit">Retour à mon espace</button>
        </form>
    </nav>
    <aside>
        <p>&copy; {{ now|date:"Y" }} MULLER Yoann et BRODIN Mathias. Tous droits réservés.</p>
    </aside>
</body>
</html>